/* Navbar Styles */
.custom-navbar {
    background-color: #071739;
    padding: 10px 20px;
  }
  
.custom-navbar .navbar-brand {
    color: white; /* White text */
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between logo and text */
}
  
.custom-navbar .nav-link {
    color: white; /* White link color */
    margin-right: 15px;
    text-decoration: none;
    font-size: 1rem;
}
  
.custom-navbar .nav-link:hover {
    color: #ddd; /* Light grey on hover */
}
  
.navbar-logo {
    height: 40px; /* Adjust logo height */
    width: auto; /* Maintain aspect ratio */
}
  